h3.demo {
	background: none;
	/*border-bottom: 1px solid #ccc;*/
	color: #ccc;
	font-family: Arial, sans-serif;
	font-weight: bold !important;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 12px;
}

#style-switcher {
	background: #111;
	-moz-box-shadow: 0 0 5px #666;
	-webkit-box-shadow: 0 0 5px #666;
	box-shadow: 0 0 5px #666;
	border-radius: 0 5px 5px 0;
	font-family: Arial, sans-serif;
	height: 355px;
	left: 0;
	padding: 20px 15px;
	position: fixed;
	/*top: 140px;*/
	top: 25%;
	text-align: left;
	width: 150px;
	z-index: 9999;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#style-switcher p {
	color: #ccc;
	font-size: 11px;
	line-height: 1.6em !important;
	padding: 0 !important;
	margin: 0 !important;
}

#toggle-button {
	background: #111 url('config-icon.png') right no-repeat;
	background-position: 60% 8px;
	/*-moz-box-shadow: 0 0 3px #666;
	-webkit-box-shadow: 0 0 3px #666;
	box-shadow: 0 0 3px #666;*/
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	height: 40px;
	right: -70px;
	position: absolute;
	top: 30px;
	width: 70px;
	z-index: 9998;
}

ul.color-list li,
ul#bg-list li#no-bg {
	font-size: 12px;
	margin-bottom: 5px;
	text-align: center;
	width: 100%;
}

ul.color-list li a {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid #222;
	border-radius: 3px;
	color: #fff;
	display: block;
	padding: 3px 0;
	text-decoration: none;
	width: 100%;
}

ul#bg-list li {
	display: inline-block;
	margin: 2px;
}

ul#bg-list li img {
	height: 22px;
	width: 22px;
}

ul#bg-list li a {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid #222;
	border-radius: 3px;
	text-decoration: none;
	display: inline-block;
	line-height: 0;
}

ul#bg-list li#no-bg a {
	border: 0;
	color: #ccc !important;
	text-decoration: underline;
	line-height: 1;
}

ul.color-list li a:hover,
ul#bg-list li a:hover {
	/*text-decoration: underline;*/
	border-color: #ccc;
}

ul.color-list li a#orange {
	background: #F38630;
}

ul.color-list li a#default {
	background: #1B83BE;
}

ul.color-list li a#red {
	background: #F73917;
}

ul.color-list li a#green {
	background: #88C425;
}

ul.color-list li a#yellow {
	background: #FCBC12;
}

ul.color-list li a#purple {
	background: #B21C58;
}

#style-switcher p.note {
	color: #333;
	font-size: 11px;
	line-height: 1.6em !important;
	padding: 0 !important;
	margin: 0 !important;
}


select {
	color: #333;
	padding: 5px;
}











